<div>
    <h2>This is {{celebrityOnDisplay.name}} page for you to update</h2>
    <tag>Current name : {{celebrityOnDisplay.name}}</tag>
    <tag>Current occupation : {{celebrityOnDisplay.occupation}}</tag>
    <tag>Current catchPhrase : {{celebrityOnDisplay.catchPhrase}}</tag>
    <a href="/celebrities/{{celebrityOnDisplay._id}}/edit">Edit celebrity</a>
</div>